extends layout.pug

block content
  if username
    h3 Hello #{username}!
  else
    form(action="/hello", method="post")
      label Please enter your name:
        input(type="text", name="username")
      button(type="submit") Submit