doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Flashcards
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, perferendis ad aperiam nemo, rem cum consequatur nesciunt eum architecto corrupti, minima fuga voluptas! Rem nemo fugit inventore aperiam quas est!