extends layout

block main
  form#new-card-form(action="/cards/new", method="post")
    label(for="question") Question:
    input(type="text", name="question", id="question")
    label(for="question-hint") Hint:
    input(type="text", name="hint", id="question-hint")
    label(for="answer") Answer:
    input(type="text", name="answer", id="answer")
    button(type="submit") Save Card